.date-control {
    position: absolute;
    z-index: 8;
    top: 85px;
}

.main-control {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-btn {
    margin-top: 10px;
    margin-left: 10px;
}

.deleteSelected {
    margin-bottom: 15px;
}

.no-data {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.title-link {
    text-decoration-line: underline;
    cursor: pointer;
}

.detail-container {
    position: fixed;
    width: 600px;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 100;
}

.detail-thumbnail-img {
    margin-top: 15px;
    text-align: center;
}

.detail-movieNm {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

ul.detail-list {
    list-style: none;
    padding: 15px;
}

ul.detail-list > li {
    padding: 5px 0;
}

span.detail-list-subtitle {
    font-weight: 800;
    margin-right: 8px;
}

.footer {
    height: 40px;
    text-align: center;
}

.v-chip {
    margin: 2px;
}

/* 영화 상세 정보 스크롤 */
.v-card {
    display: flex !important;
    flex-direction: column;
}

.v-card__text {
    flex-grow: 1;
    overflow: auto;
}