.date-control {
    position: absolute;
    z-index: 8;
    top: 85px;
}

.main-control {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-btn {
    margin-top: 10px;
    margin-left: 10px;
}

.deleteSelected {
    margin-bottom: 15px;
}

.no-data {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.title-link {
    text-decoration-line: underline;
    cursor: pointer;
}

.detail-container {
    position: fixed;
    width: 600px;
    margin: 0 auto;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 100;
}

.thumbnail-img-detail {
    margin-top: 15px;
    text-align: center;
}