<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
          PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	 <settings>
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	 	<setting name="logImpl" value="LOG4J2"/> <!-- log4j와 MyBatis 연동. 쿼리문과 실행결과를 로그로 출력 -->
	 </settings>
	 
	 <typeAliases>
	 	<typeAlias type="org.youngtak2.springboard.member.vo.Member" alias="Member"/>
	 	<typeAlias type="org.youngtak2.springboard.board.vo.Article" alias="Article"/>
	 	<typeAlias type="org.youngtak2.springboard.board.vo.ArticleExtended" alias="ArticleExtended"/>
	 	<typeAlias type="org.youngtak2.springboard.board.vo.Comment" alias="Comment" />
	 	<typeAlias type="org.youngtak2.springboard.board.vo.Like" alias="Like" />
	 	<typeAlias type="org.youngtak2.springboard.common.vo.BasicSelect" alias="BasicSelect" />
	 </typeAliases>
</configuration>